
body {
  font-family: Kanit;
  background: #232526;
  background: -webkit-linear-gradient(to right, #232526, #414345);
  background: linear-gradient(to right, #232526, #414345);
  color: white;
  margin: 0;

}

h1, h2, h3, h4, h5, h6, p, span, ul, li, a {
  margin: 0;
}

ul, li {
  list-style: none;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 0 30px;

}