.product {


  .container {
    //padding: 0 30px;
    //max-width: 400px;
  }

  &__wrapper {
    width: 100%;
    padding-left: 0;
    margin: auto;

    li {
      position: relative;
      height: 600px;
      width: 700px;

      p {
        text-align: center;
        font-size: 198px;
      }

      img {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 380px;
        height: 550px;
        object-fit: cover;
      }
    }
  }


}
