.product {
  max-width: 900px;
  width: 100%;
  margin: auto;
  transition: ease-in-out .5s;


  .container {
    //padding: 0 30px;
    //max-width: 400px;
  }

  &__wrapper {
    width: 100%;
    padding-left: 0;
    margin: auto;

    li {
      position: relative;
      height: 600px;
      width: 100%;
      margin: auto;


      p {
        font-size: 165px;
        line-height: 100px;
        z-index: 100;
        text-align: center;
      }

      img {
        top: 56%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 350px;
        height: 530px;
        object-fit: cover;
        transition: ease-in-out .3s;
      }
    }
  }


}
